# ==========================================
# Archivos y carpetas de compilación
# ==========================================
[Bb]in/
[Oo]bj/

# ==========================================
# Archivos específicos de Visual Studio / IDEs
# ==========================================
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.dbmdl
*.suo
*.ide

# ==========================================
# Cachés, logs y archivos temporales
# ==========================================
*.cache
*.log
*.tmp
*.bak
*.swp
*.GeneratedMSBuildEditorConfig.editorconfig
*.FileListAbsolute.txt

# ==========================================
# NuGet y dependencias
# ==========================================
*.nupkg
packages/
project.assets.json
project.nuget.cache

# ==========================================
# Archivos del sistema operativo (Opcional)
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Empaquetados del Mod
# ==========================================
# Útil para ignorar los zips generados para distribución 
*.zip